table {
    width: 60%;
  }

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.inputs {
  width: 25%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}