<mat-checkbox (change)="showOptions($event)">
  Manually enter both block numbers
</mat-checkbox>
<br />
<div [hidden]="!showTwoInputs">
  <form [formGroup]="twoInputForm" (ngSubmit)="onClickSubmitTwoInputs()">
    <mat-form-field class="inputs" appearance="fill">
      <mat-label>Starting Block Number</mat-label>
      <input matInput type="number" name="startingBlockNumber" formControlName="startingBlockNumber" required integer>
      <mat-error>Please enter a valid number</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="inputs" appearance="fill">
      <mat-label>Ending Block Number</mat-label>
      <input matInput type="number" name="endingBlockNumber" formControlName="endingBlockNumber" required integer>
      <mat-error>Please enter a valid number</mat-error>
    </mat-form-field>
    <mat-error
      *ngIf="twoInputForm.hasError('endBlockHigherThanStartBlock') && !twoInputForm.hasError('required') && !twoInputForm.hasError('integer')">
      Starting block number cannot be bigger than ending block number</mat-error>
    <br />
    <button type="submit" [disabled]="!twoInputForm.valid">Submit</button>
  </form>
</div>

<div [hidden]="showTwoInputs">
  <form [formGroup]="oneInputForm" (ngSubmit)="onClickSubmitOneInput()">
    <mat-form-field class="inputs" appearance="fill">
      <mat-label>How far back from the present block</mat-label>
      <input matInput type="number" name="blocksBack" formControlName="blocksBack" required integer>
      <mat-error>Please enter a valid number</mat-error>
    </mat-form-field>
    <br />
    <button type="submit" [disabled]="!oneInputForm.valid">Submit</button>
  </form>
</div>
<br />
Total Eth transferred: {{transactionsReport.totalEthTransferred}}
<table mat-table [dataSource]="transactionsReport.addressInfos">
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let info"> {{info.address}} </td>
  </ng-container>

  <ng-container matColumnDef="ethReceived">
    <th mat-header-cell *matHeaderCellDef> Ether Received </th>
    <td mat-cell *matCellDef="let info"> {{info.ethReceived}} </td>
  </ng-container>

  <ng-container matColumnDef="ethSent">
    <th mat-header-cell *matHeaderCellDef> Ether Sent </th>
    <td mat-cell *matCellDef="let info"> {{info.ethSent}} </td>
  </ng-container>

  <ng-container matColumnDef="contract">
    <th mat-header-cell *matHeaderCellDef> Is Contract </th>
    <td mat-cell *matCellDef="let info"> {{info.contract}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>